@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q2_content {
  width: 900px;
  margin: 0 auto;
  background-color: #eff3f4;
  padding: 20px;
}

.left__photo {
  float: left;
  margin: 0 20px 10px 0;
}

.right__photo {
  float: right;
  margin: 0 0 10px 20px;
}

.content-text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

/* 回答はここに書いてね */
