@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
/* q7-1 */
.float_box {
  float: left;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 50px;
}

.float_box:first-child {
  margin-left: 0;
}

/* q7-2 */
.table_box_parent {
  display: table;
}

.table_box {
  display: table-cell;
  width: 225px;
  vertical-align: middle;
  font-size: 16px;
}

.table_box:last-child {
  padding-left: 50px;
}

/* q7-3 */
.inline_block_box_parent {
  font-size: 0;
}

.inline_block_box {
  display: inline-block;
  box-sizing: border-box;
  width: 225px;
  margin-left: 50px;
  vertical-align: middle;
  font-size: 16px;
}

.inline_block_box:first-child {
  margin-left: 0;
}
/*q7-4*/
.flex_parent_box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex_box {
  width: 225px;
  box-sizing: border-box;

}
/*q7-5*/
.bottom_box_parent {
  font-size: 0;
}

.bottom_box_left {
  display:inline-block;
  font-size: 16px;
  width: 300px;
  box-sizing: border-box;
  vertical-align: top;
}

.bottom_box_right {
  display:inline-block;
  font-size: 16px;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px; /*最初padding-left: 300px;でmargin-left: -300;に揃えていたがなんで50足したらうまくいくのか*/
  box-sizing: border-box;
  vertical-align: top;
}
/* 回答はここに書いてね */
