@charset "UTF-8";

/* 回答はここに書いてね */
 



.q10__box {
  margin: 0 auto;
  border-radius: 30px;
  border: 5px solid #222;
  width: 500px;
  padding: 20px;
  position: relative;
}


.q10__center {
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
}


.q10__box:before{
  content: "";
	border: 20px solid transparent;
	border-top: 25px solid #fff;
	position: absolute;
	right:  87%;
  bottom: -45px;
  z-index: 0;
}

.q10__box:after{
  content: "";
	border: 27px solid transparent;
	border-top: 35px solid #222;
	position: absolute;
	right:  86%;
  bottom: -62px;
  z-index: -1;
}

/* 回答はここに書いてね */
