@charset "UTF-8";

/* 回答はここに書いてね */

.parent_box {
padding: 20px;
background: #eeeeee;
box-sizing: border-box;
}

.common__box {
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.main_box {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.main_box:last-child {
  margin-bottom: 0;
}

.skin_box {
  width: 100px;
  background: #fdc8b8;
}

.purple_box {
  background-color: #e0abd9;
}

.blue_box {
  width: 100px;
  background-color: #b6d8ed;
}

.yellow_box {
  background: #e5d32e;
}

.pink_box {
  background-color: #ec8f9a;
}

.green_box {
  width: 500px;
  background-color: #8fdcab;
}
/* 回答はここに書いてね */
