@charset "UTF-8";

/* 回答はここに書いてね */
.kcal__table {
  table-layout: fixed;
  width: 100%;
}

.kcal__table th {
  border: solid #dedede 1px;
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
  color: #fff;
  padding: 10px;

}

.kcal__table td {
  border: solid #dedede 1px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding: 10px;

}

.kcal__table tr:nth-child(odd) {
  background-color: #ecf1f2;
}

.kcal__table tr:last-child {
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */
