@charset "UTF-8";

/* 回答はここに書いてね */
.outer {
  text-align: center;/*親要素を作った*/
}

.text_align_box {
  width: 90px;
  background-color: #e6f2ff;
  display: inline-block;
  padding: 10px 0;/*marginを消してinline-blockを子要素に入れた*/
}

.margin_box {
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  width: 90px;
  background-color: #e6f2ff;
}

/* q6-2 */
.table_box {
  display: table;
}

.table_box_outer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.table_box_inner {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}

.flex_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_box_inner {
  background-color: #fff;
  padding: 10px;
}
.bottom_box {
  position: relative;
}

.inner_box_left {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.inner_box_right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
