@charset "UTF-8";

/* 回答はここに書いてね */
.parent-a {
  font-size: 0px;
}

.common {
  display: inline-block;
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer; 
}

.error {
  display: inline-block;
  background-color: #ff4081;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.disabled {
  display: inline-block;
  background-color: #e5e5e5;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.shadow {
  display: inline-block;
  background-color: #fff;
  color: #222;
  box-shadow:0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
  cursor: pointer;
  margin-left: 10px;
}
.common-a {
  line-height: 26px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  font-size: 16px;
}

.error-a {
  line-height: 26px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  font-size: 16px;
}

.disabled-a {
  line-height: 26px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  font-size: 16px;
}

.shadow-a {
  line-height: 26px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  font-size: 16px;
}

.parent-b {
  font-size:0px;
}

.common-b {
  line-height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  font-size:20px;
}

.error-b {
  line-height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  font-size:20px;
}

.disabled-b {
  line-height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  font-size:20px;
}

.shadow-b {
  line-height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  font-size:20px;
}

.parent-c {
  font-size:0px;
}

.common-c {
  line-height: 38px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 7px;
  font-size:24px;
}

.error-c {
  line-height: 38px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 7px;
  font-size:24px;
}

.disabled-c {
  line-height: 38px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 7px;
  font-size:24px;
}

.shadow-c {
  line-height: 38px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 7px;
  font-size:24px;
}

/* q8-2フォーム */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.ul {
  list-style: none;
}
.q8__form {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf1f2;
}
.q8__form__title {
  position: relative;
  margin-bottom: 20px;
}

.q8__form__title:before {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  content: "";
}

.q8__form__tiele__text {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ecf1f2;
  font-size: 24px;
  font-weight: bold;
}

.q8__main {
  float: left;
  width: 300px;
}

.q8__side {
  float: right;
}

.q8__main__items {
  margin-bottom: 20px;
}

.q8__main__bottom {
  text-align: right;
}

.clearfix {
  margin-top: 20px;
}
.clearfix:first-child {
  margin-top: 0;
}

.q8__main__items__title {
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}

.q8__main__items__content {
  float: right;
  width: 180px;
}
.is-required {
  color: red;
}

.q8__input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}

.q8__input--init {
  background-color: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.q8__radio {
  cursor: pointer;
}

.q8__radio__btn {
  display: none;
}

.q8__radio__text {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.q8__radio__text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}
.q8__radio__btn:checked + .q8__radio__text:after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
  content: "";
}

.q8__select {
position: relative;
}

.q8__select__body {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.q8__select:after {
  display: block;
  position: absolute;
  top: 4px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  transform: rotate(45deg);
  content: "";
  pointer-events: none;
}

.option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px, 2px, 1px;
}

.q8__checkbox {
  text-align: right;
}

.q8__checkbox__text {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}

.q8__checkbox__text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-color: #fff;
  border: 1px solid #ccc;
  content:"";
}

.q8__checkbox__btn:checked + .q8__checkbox__text:after {
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  transform: rotate(45deg);
  content: "";
}
.q8__checkbox__btn {
  display: none;
}


.q8__main__bottom {
  text-align: right;
}

.q8__main__buttom {
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
}

.q8__side__text {
  width: 380px;
}

.q8__side__text {
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
}



/* 回答はここに書いてね */
